{% if the-lounge_container_labels_traefik_enabled %}
traefik.enable=true

{% if the-lounge_container_labels_traefik_docker_network %}
traefik.docker.network={{ the-lounge_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if the-lounge_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ the-lounge_identifier }}-slashless-redirect.redirectregex.regex=^({{ the-lounge_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ the-lounge_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [the-lounge_identifier + '-slashless-redirect'] %}
{% endif %}

{#
	Intentionally not adding a stripPrefix middleware.
	the-lounge seems to serve itself under the same prefix it sees in the ND_BASEURL environment variable.
#}

{% if the-lounge_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in the-lounge_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ the-lounge_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [the-lounge_identifier + '-add-request-headers'] %}
{% endif %}

{% if the-lounge_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in the-lounge_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ the-lounge_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [the-lounge_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ the-lounge_identifier }}.rule={{ the-lounge_container_labels_traefik_rule }}
{% if the-lounge_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ the-lounge_identifier }}.priority={{ the-lounge_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ the-lounge_identifier }}.service={{ the-lounge_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ the-lounge_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ the-lounge_identifier }}.entrypoints={{ the-lounge_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ the-lounge_identifier }}.tls={{ the-lounge_container_labels_traefik_tls | to_json }}
{% if the-lounge_container_labels_traefik_tls %}
traefik.http.routers.{{ the-lounge_identifier }}.tls.certResolver={{ the-lounge_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ the-lounge_identifier }}.loadbalancer.server.port=9000
{% endif %}

{{ the-lounge_container_labels_additional_labels }}
